#game {
    width: 900px;
    height: 300px;
    border: 3px solid #333;
    background: white;
    position: relative;
    overflow: hidden;
}

#ground {
    width: 200%;
    height: 12px;
    background-image: url('../assets/images/background/ground.png');
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
    bottom: 10px;
    left: 0;
    animation: groundMove 2s linear infinite;
}

@keyframes groundMove {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
